/*Variables de la página index*/
$headerContactoBackGroundColor:#DCF2F1;
$backGroundImageContenedor: '../assets/imagenes/imagen-principal-4.png';

$containerColorParrafo:#0F1035;

$colorTutilo:#0F1035;

$contactoBackGroundColor:#365486;
$contactoColor: white;

$footerBackGroundColor:#0F1035;
$footerColor:white;


/*Variables página Servicio*/
$boxBorderColor:white;
$boxDivBorderColor:#365486;
$boxDivH2BorderColor:#365486;

/*Variables página portafolio*/
$boxPortafolioBorderColor:white;
$divColor: black;
$divBorderColor:#365486;
$divH2BorderColor:#365486;

/*Variables página contactos*/
$footerContactoBackGroundColor:#0F1035;
$footerContactoColor:white;